#resume
  .header
    %p
      = link_to 'lukerpfeiffer@ufl.edu', 'mailto:lukerpfeiffer@ufl.edu'
    %p
      = link_to 'https://github.com/lukepfeiffer', 'https://github.com/lukepfeiffer', target: '_blank'
  = link_to 'Download Resume', '/luke_pfeiffer_resume.pdf', target: '_blank'

  .content
    %h1 Education
    .category
      .sub
        %p
          .subheader Pursuing BA in Computer Engineering
          .details University of Florida &bull; May 2020 &bull; GPA: 3.8
        %ul
          %li COP3502
    %h1 Profesional Experience
    .category
      .sub
        %p
          .subheader Junior Software Developer
          .details FreshStart Software &bull; June 2015 - December 2016
        %ul
          %li Agile Development &bull;
          %li Jquery &bull;
          %li Ruby on rails
        %ul
          %li Test Driven Development
          %li Git Version Management
        %ul
          %li Bootstrap
      .sub
        %p
          .subheader Web Developer
          .details Indepedent Development &bull; August 2016 - Present
        %ul
          %li Ruby on rails &bull;
          %li Jquery &bull;
          %li CSS &bull;
          %li HTML
        %ul
          %li Healthy Client Relationships
        %ul
          %li Responsive Web Design

      .sub
        %p
          .subheader Software Developer
          .details Orbital One &bull; March 2017 - Present
        %ul
          %li Ruby on rails &bull;
          %li Rspec &bull;
          %li Mysql
        %ul
          %li Git Version Management &bull;
          %li HTML
    %h1 Projects
    .category
      .sub
        %p
          .subheader Target Zero
          .details= link_to 'http://www.target-zero.org/', 'http://www.target-zero.org/', target: '_blank'
        %ul
          %li Dynamic CMS
          %li Configure Postgresql Database
        %ul
          %li Google Maps API Calls &bull;
          %li Ruby on Rails
      .sub
        %p
          .subheader Smart Pharamcy
          .details= link_to 'https://smartpharmacy.com/', 'https://smartpharmacy.com/', target: '_blank'
        %ul
          %li Twilio Messaging &bull;
          %li Jquery &bull;
          %li PDF Generations
        %ul
          %li Ruby on Rails
      .sub
        %p
          .subheader DESC of Jacksonville
          .details= link_to 'http://descjax.org/', 'http://descjax.org/', target: '_blank'
        %ul
          %li Test Driven Development &bull;
          %li Refactoring
        %ul
          %li Information Encryption &bull;
          %li Ruby on Rails
      .sub
        %p
          .subheader Destyn Patera
          .details= link_to 'http://destynpatera.com/', 'http://destynpatera.com/', target: '_blank'
        %ul
          %li Responsive Web Design &bull;
          %li Jquery &bull;
          %li Ruby on Rails
      .sub
        %p
          .subheader Comment Catcher
        %ul
          %li Ruby on Rails &bull;
          %li Test Driven Development
        %ul
          %li Jquery
      .sub
        %p
          .subheader Personal Website
          .details https://lukerpfeiffer.com
        %ul
          %li Ruby on rails &bull;
          %li Responsive Web Design &bull;
          %li HTML
          %li CSS
    %h1 Involvement
    .category
      .sub
        %p
          .subheader Web and Graphic Design Chair
          .details Association of Computer Engineers &bull; December 2016 - Present
        %ul
          %li Organize and Present Workshops
          %li Design Promotional Flyers
        %ul
          %li Update Website
          %li Build External Webapps for Organization
      .sub
        %p
          .subheader Mentor
          .details Association of Computer Engineers &bull; January 2017 - Present
        %ul
          %li Teach Java &bull;
          %li Organize Workshops &bull;
          %li Resume Critiques
      .sub
        %p
          .subheader IgniteCs Mentor
          .details Google IgniteCs program &bull; January 2017 - Present
        %ul
          %li Mentored disadvantaged youth
          %li Creative problem solving
          %li Employed positive reinforcement
    %h1 Programming Proficiencies
    .category
      .sub
        %p
          .subheader Web Development
          .details September 2013 - Present
        %ul
          %li Ruby on Rails &bull;
          %li Jquery &bull;
          %li HTML &bull;
          %li Bootstrap
        %ul
          %li CSS &bull;
          %li Bourbon &bull;
          %li Rspec &bull;
          %li Cucumber
        %ul
          %li Reactjs (novice)
      .sub
        %p
          .subheader Software Development
          .details August 2016 - Present
        %ul
          %li Java &bull;
          %li Eclipse IDE &bull;
          %li JUnit &bull;
          %li Sql (novice)
      .sub
        %p
          .subheader General Skills
          .details September 2013 - Present
        %ul
          %li Git Version Management &bull;
          %li Terminal
        %ul
          %li Agile Development &bull;
          %li Working in Teams
    %h1 Volunteering
    .category
      .sub
        %p
          .subheader Volunteer Web Developer
          .details DESC of Jacksonville &bull; November 2015 - March 2016
        %ul
          Helped improve existing functions and deploy new functions to the organization's web application.  DESC provides services for the homeless and those in need.
