#posts
  .content
    - if current_user.present?
      = link_to 'Create Post', new_post_path

    - posts.each do |post|
      .container
        %h1= post.title
        .image= image_tag post.image_url
        %p.body= post.body
        %p
          %span.italic Luke Pfeiffer
          %span.right= post.created_at.strftime("%B %-d, %Y" )
