%h1 Create Post

.form
  = form_for post do |f|
    %fieldset
      %dl
        %dt= f.label :title
        %dd= f.text_field :title

        %dt= f.label :body
        %dd= f.text_area :body

        %dt= f.label :filepicker_url, 'Upload Image'
        %dd= f.filepicker_field :filepicker_url

    %fieldset.actions
      = f.submit 'Create Post'
