<!DOCTYPE html>
%head
  %title Lukerpfeiffer
  %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  = filepicker_js_include_tag
  = google_webfonts_init({              |
      google: ['Varela Round', 'serif'] |
    })                                  |



%body#main
  .main-content
    %nav.navigation
      %h1= link_to 'Luke Pfeiffer', root_path
      .actions
        = link_to 'Resume', resume_path
        = link_to 'Contact', contact_path
        -# = link_to 'Blog', posts_path
        = link_to 'Sign out', sign_out_path, method: :delete if current_user.present?

    = yield

    %nav.footer{role: 'contentinfo'}
      .links
        .social
          = link_to 'https://www.github.com/lukepfeiffer', class: 'github', target: '_blank' do
            %i.fa.fa-github-square
          = link_to 'https://www.linkedin.com/in/lukerpfeiffer/', class: 'linkedin', target: "_blank" do
            %i.fa.fa-linkedin-square
          = link_to 'https://www.facebook.com/luke.pfeiffer.7', class: 'facebook', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://www.twitter.com/lukerpfeiffer', class: 'twitter', target: '_blank' do
            %i.fa.fa-twitter-square
