<!DOCTYPE html>
%head
  %title Lukerpfeiffer
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  = google_webfonts_init({              |
      google: ['Varela Round', 'serif'] |
    })                                  |



%body#main
  .main-content
    %nav.navigation
      %h1= link_to 'Luke Pfeiffer', root_path
      .actions
        = link_to 'About', root_path
        = link_to 'Blog', root_path
        = link_to 'Projects', projects_path
        = link_to 'Contact', contact_path
        = link_to 'Resume', resume_path

    = yield

    %nav.footer{role: 'contentinfo'}
      .links
        .social
          %li= link_to(image_tag('github.png', alt: 'github'), 'https://www.github.com/lukepfeiffer', target: '_blank')
          %li= link_to(image_tag('linkedin.png', alt: 'linkedin'), 'https://www.linkedin.com/in/luke-pfeiffer-a4a272133', target: '_blank')
          %li= link_to(image_tag('twitter.png', alt: 'twitter'), 'https://www.twitter.com/lukerpfeiffer', target: '_blank')
          %li= link_to(image_tag('facebook.png', alt: 'facebook'), 'https://www.facebook.com/luke.pfeiffer.7', target: '_blank')


